# fly.toml app configuration file generated for hello-static-empty-snow-2883 on 2026-02-11T12:19:55+01:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'emilcv'
primary_region = 'fra'

[build]

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[env]
  PORT = "3000"
  PAINT_DIR = "/data/paint"
  ARCHIVE_DIR = "/data/paint-archive"

[mounts]
  source = "paint_data"
  destination = "/data"

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
